<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d28871">  <td>22/07/08 16:50:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.addToCart()[pri:1, instance:com.test.AmazonTest@7c7b252e]">addToCart</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="d8c9b7">  <td>22/07/08 16:50:06</td>   <td>-10394</td> <td>&nbsp;</td><td title="&gt;&gt;DriverFactory.openBrowser()[pri:0, instance:com.test.AmazonTest@7c7b252e]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>22/07/08 16:50:26</td>   <td>9860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.removeProduct()[pri:3, instance:com.test.AmazonTest@7c7b252e]">removeProduct</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>22/07/08 16:50:12</td>   <td>-4100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.Search()[pri:0, instance:com.test.AmazonTest@7c7b252e]">Search</td> 
  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="d28871">  <td>22/07/08 16:50:26</td>   <td>9697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.changeQuantity()[pri:2, instance:com.test.AmazonTest@7c7b252e]">changeQuantity</td> 
  <td>main@640070680</td>   <td></td> </tr>
</table>
